
.navbar-main-div{
  background-color: #181818;
  height: 80px;
  width:100vw;
  top:0;
  position: fixed;
  z-index: 1;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Oxygen', sans-serif;
}

.navbar-main-div a:hover{
border-bottom: 4px solid slategray;
}

.nav-ul {
list-style: none;
margin:0;
padding: 0;
}

.nav-li {
display: inline-flex;
margin: 20px;

}
.nav-link{
  color: white;
  text-decoration: none;
}
.navMobile-main-div{
  display: none;
}

@media (max-width: 990px) {
  .nav-main-div{
    display: none;
  }

  .navMobile-main-div{
    display: flex;
    background-color: red;
    align-items: center;
  }

  .navMobile-main-div .hamburger{
position: absolute;
right:5%;
cursor: pointer;

  }

.navbar-main-div nav ul{
display:flex;
flex-direction: column;
position: absolute;
top:80px;
left:0;
background-color:slategray;
border-top: 2px solid #8C1CD1;

  }
  .navbar-main-div nav ul{
    padding: 0 15px 0 15px;
  }
  .navbar-main-div{
    opacity: 95%;
  }

  .navbar-main-div a:hover{
    color: red;
    }
}